body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.titulo {
    width: 100%;
    position: relative;
}

.titulo-img {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.titulo-texto {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 36px;
    text-align: center;
    z-index: 1;
}

.botao-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botao {
    border: none;
    padding: 0px 10px;
    background-color: transparent;
    text-align: center;
    margin: 0 5px;
    font-size: 18px;
}

.botao-azul {
    color: blue;
}

.botao-laranja {
    color: orange;
}

.botao-amarelo {
    color: yellow;
}

.botao-branco {
    color: rgb(0, 0, 0);
}

.botao:hover {
    background-color: #bdc5bd;
    cursor: pointer;
}

.botao:focus {
    outline: none;
}

.formulario-login {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    margin-top: 40px;
    display: none;
}

.titulo-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    width: 50px;
    height: auto;
}

.formulario-login form {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
}

.formulario-login form label {
    margin-bottom: 5px;
    width: 200px;
    margin: 0 auto;
}

.formulario-login form input {
    padding: 8px;
    margin-bottom: 10px;
    width: 200px;
    margin: 0 auto;
}

.erro-msg {
    color: red;
}

.sucesso-msg {
    color: green;
}

.btn-cancelar {
    width: 200px;
    margin-left: 25px;
    margin-top: 25px;
    background-color: red;
    color: white;
    height: 30px;
}

/* Estilo para o botão de sair */
.btn-sair {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3; /* Para garantir que o botão esteja sobre as imagens */
}

.btn-sair img {
    width: 20px; /* Tamanho ajustável da imagem */
    height: auto;
}

.formulario-cadastro{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0.1);
    text-align: center;
    position: relative;
    margin-top: 40px;
}

/* Estilo para os botões */
#form-cadastro input[type="submit"],
#form-cadastro .btn-cancelar {
    width: 110px; /* 50% do tamanho do formulário com um pequeno espaço entre os botões */
    height: 40px; /* Altura padrão */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilo para o botão Cadastrar */
#form-cadastro input[type="submit"] {
    background-color: green;
    color: white;
}

/* Estilo para o botão Cancelar */
#form-cadastro .btn-cancelar {
    background-color: red;
    color: white;
    margin-left: 10px; /* Espaço entre os botões */
}

/* Pseudo-classe para o hover dos botões */
#form-cadastro input[type="submit"]:hover,
#form-cadastro .btn-cancelar:hover {
    opacity: 0.9; /* Reduz a opacidade ao passar o mouse */
}

/* Estilo para os campos do formulário */
.formulario-cadastro label,
.formulario-cadastro input,
.formulario-cadastro select {
    display:inline-flex;
    width: 200px;
    margin-bottom: 10px;
    margin-left: 550px;
    height: 25px;

}
